<h2> Log In </h2>

<%= simple_form_for @user do |f| %>
<div class="form-inputs">
    <%= f.input :username,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email"} %>
    <%= f.input :id,
                required: false %>
</div>

<div class="form-actions">
  <%= f.button :submit, "Log in" %>
</div>
<% end %>

<%# session[:current_user.id] = user.id %>
