
<% if attending?(:event) %>
<form>
    <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">I will not</label>
    </div>
  <button type="submit" class="btn btn-primary">Submit</button>
    </form>

  <% else %>
    <form>
    <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">I will</label>
    </div>
  <button type="submit" class="btn btn-primary">Submit</button>
    </form>

<%end%>