<div class="p-4">
<% if @future_events.empty? %>
  <%= "There are no future events" %>
<% else %>
<% @future_events.each do |inv| %>
  <%= render 'card', type: 'user', user: @user, event: inv %>
<% end %>
<% end %>
</div>
