<div class="d-flex justify-content-center flex-column">
<div class="col col-6 mx-auto mt-5">

<h2 class="d-flex justify-content-center">Create a new user</h2>

<%= render 'form', user: @user %>
</div>
</div>
