<% if logged_in? %>

<h4> <%= "Events created by #{@user.name}" %> </h4>

<%= render 'created' %>

<h4>Future events that you were invited to:</h4>

<%= render 'future' %>

<h4> Previous events that you were invited to:</h4>

<%= render 'past' %>

<% end %>



  <!-- Default switch -->
