<h2> Users </h2>

<h4> <%="Events created by #{@user.name}:" %> </h4>

<% @events.each do |event| %>
  <p> <%= "#{event.description} in #{event.location} at #{event.date}" %> </p>
<% end %>

<h4> <%="Events attended by #{@user.name}:" %> </h4>
