<% events.each do |inv| %>
    <div class="card" style="width: 18rem;">
       <div class="card-body">
         <h5 class="card-title"> <%= phrase('e',@user,inv)[0] %> </h5>
         <p class="card-text">
          <%= phrase('e',@user,inv)[1] %>
         </p>
         <%= link_to 'View event', event_show_path(inv) %>
       </div>
    </div>
<% end %>
