<div class="card" style="width: 18rem;">
  <div class="card-body">
  <h5 class="card-title"><%= is_invited_to(@user,inv) %> </h5>
  <p class="card-text"> <%= "Event date: #{inv.date.to_formatted_s(:rfc822)}." %></p>
  <%= link_to 'View event', event_show_path(inv)  %>
  </div>
</div>